/* Variables */
:root {

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #666;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  margin: 4rem auto;
  max-width: 64rem;
  text-align: center;
}

img {
  height: auto;
  margin: 1rem;
  max-width: 100%;
}

a, a:link, a:visited {
  color: inherit;
}
